$dark-grey: rgb(53, 53, 53);
$light-grey: rgb(242, 240, 240);
$primary-color: rgb(211, 99, 99);

$computer-modern-serif: "Computer Modern Serif";
$base-font-family: $computer-modern-serif, serif;
$base-font-color: $dark-grey;
$base-font-weight: normal;
$base-font-size: 16px;
$base-line-height: 1.5rem;

$base-background-color: $light-grey;

$logo-url: url(/images/logo.svg);

@mixin transition($property: all) {
  transition: all 0.1s linear;
}
