%p.intro
  Like a book club, but for code. We meet weekly to work through a project together. If you are new to the subject matter, you will learn from others eager to teach; and if you are experienced, you will learn from helping and teaching. If you have a thirst for learning and good beer, this is where you belong.

%p.intro
  %a.button{ href: 'http://www.meetup.com/Richmond-Computer-Club' } Meetup
